
  /*----------form------------*/
  #search-form input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 150px;
  }
  
  #search-form button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  #search-form {

    grid-template-columns: 1fr auto;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / -1;
    justify-content: center; /* Agregamos esta propiedad */
  }
  

#search-form label {
  margin-right: 1rem;
}
/*----------body------------*/
#body-doctor-search{
  background-image: url("/assets/img/png/card-doctor.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 800px;
  
}
/*------------img-----------*/
#img-principal{
  max-width: 500px;
  max-height: auto;
  
}
