/*para los iconos*/

  /*----------form------------*/
  #search-form input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 150px;
  }
  
  #search-form button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  #search-form {

    grid-template-columns: 1fr auto;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / -1;
    justify-content: center; 
  }
  

#search-form label {
  margin-right: 1rem;
}


#picture-principal{
  width:500px;
  height:auto;
  display: inline-block;

}

#picture-principal img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#main-patient{
  justify-content: center;
  place-items: center;
  text-align: center;
  display: grid;
}

#patient img{
width: 100%;
height: 100%;
object-fit: contain;
}
#patient ul{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
#patient li{
  margin: 10px;

}
#patient label{
  background-color:  #a7adb4;
  border-radius: 20px;
  padding: 10px;
  color:  #222222;
}
#patient a{
  text-decoration: none;
  background-color: #4CAF50;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-top: 1rem;
}
#patient a:hover {
  background-color: #388E3C;
  }
/*screen minimun  */
@media screen and (max-width: 600px) {
  #patient{
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.6);
    width: 80%;

    margin: 0 auto; /* Centra horizontalmente */
    background-color: #cbd1d8;
    border-radius: 40px;
    padding: 20px;
    color: #333333;
  }
  #patient picture{
    width: 80%;
    height: auto;
    display: inline-block;
  }
  
  /*----------body------------*/
  #body-doctor-search{
    background-color: #c1d4e7;
  }

  #picture-principal {
    width: 60%;
  }
  h2{
    font-size: 1.3rem;
  }
  p{
    font-size:1.2rem;
  }

  footer{
    display: inline-flex;
    position:absolute fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    text-align: center;

  }
  #description-doctor-search{
    width: 90%;
    display: inline-block;
  }
  #icon{
    font-size: 1.5rem;
  }  
}
/*screen mediana*/
@media screen and (max-width: 900px) and (min-width:601px)  {
  #patient{
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.6);
    width: 90%;

    margin: 0 auto; /* Centra horizontalmente */
    background-color: #cbd1d8;
    border-radius: 40px;
    padding: 20px;
    color: #333333;
  }
  #patient picture{
    width: 50%;
    height: auto;
    display: inline-block;
  }
  
  /*----------body------------*/
  #body-doctor-search{
    background-color: #c1d4e7;
  }

  #picture-principal {
    width: 60%;
  }
  h2{
    font-size: 1.3rem;
  }
  p{
    font-size:1.2rem;
  }

  footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
  }
  #description-doctor-search{
    width: 90%;
    display: inline-block;
  }
  #icon{
    font-size: 1.5rem;
  }  
}
  
/*principal screen*/
@media screen  and (min-width: 901px){
  #patient{
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.6);
    width: 60%;
  
    margin: 0 auto; /* Centra horizontalmente */
    background-color: #cbd1d8;
    border-radius: 20px;
    padding: 20px;
    color: #333333;
  }
  #patient picture{
    width: 30%;
    height: auto;
    display: inline-block;
  }
  
  #picture-principal {
    width: 30%;
  }
  h2{
    font-size: 1.5rem;
  }
  p{
    font-size: 1.5rem;
  }
  footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
  }
    /*----------body------------*/
  #body-doctor-search{
    background-image: url("/assets/img/png/card-doctor.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 48.6%;
    
  }
  #description-doctor-search{
    width: 60%;
    display: inline-block;
  }
  #icon{
    font-size: 2em;
  }
}