<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="icon" type="image/png" href="/assets/img/png/escudo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica BIT</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body id="body-doctor-search">
    <header>
      <nav id="icon">
        <a href="/"  class="fas fa-sign-out-alt"></a>
        <a href="/templates/services.html"  class="fas fa-arrow-left"></a>
        <a href="/templates/main.html"  class="fas fa-home">Inicio</a>
      </nav>
    </header>
    <main id="main-patient">
        <section id="patient">
            <picture>
              <img  src="/assets/img/png/paciente.png" alt="Imagen de la clínica">
            </picture>
            <h3 >Historial Clinico</h3>
            <h3>Paciente: Luis Suarez</h3>
            <h3>C.C. 123564564789</h3>
          <form>
            <ul>
              <li >
                <input type="checkbox" id="check1">
                <label for="check1">Consulta médica</label>
              </li>
              <li >
                <input type="checkbox" id="check2">
                <label for="check2">Examen laboratorio</label>
              </li>
              <li >
                <input type="checkbox" id="check3">
                <label for="check3">Cirujia</label>
              </li>
              <li >
                <input type="checkbox" id="check4">
                <label for="check4">Rehabilitación</label>
              </li>
            </ul>
            <button>Realizar consulta</button>
          </form>            

          </section>
    </main>
  </body>
</html>
