<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/assets/img/png/escudo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica BIT</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body id="body-doctor-search">
    <header>
      <nav>
        <a href="/">
          <i id="icon" class="fas fa-sign-out-alt" ></i>
        </a>
        <a href="/templates/services.html">
            <i id="icon" class="fas fa-arrow-left"></i>
        </a>
        <a href="/templates/main.html">
          <i id="icon" class="fas fa-home">Inicio</i>
        </a>

      </nav>
    </header>
    <main id="main-patient">
        <section id="patient">
            <picture>
              <img  src="/assets/img/png/paciente.png" alt="Imagen de la clínica">
            </picture>
            <h1 >Historial Clinico</h1>
            <h3>Paciente: Luis Suarez</h3>
            <h4>C.C. 123564564789</h4>
            <ul>
              <li ><input type="checkbox" id="check1"><label for="check1">Consulta médica</label></li>
              <li ><input type="checkbox" id="check1"><label for="check1">Examen laboratorio</label></li>
              <li ><input type="checkbox" id="check1"><label for="check1">Cirujia</label></li>
              <li ><input type="checkbox" id="check1"><label for="check1">Rehabilitación</label></li>
            </ul>
            <a>Realizar consulta</a>
          </section>

    </main>
  </body>
</html>
