<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="icon" type="image/png" href="/assets/img/png/escudo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica BIT</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body >
    <header>
      <nav>
        <a href="/">
          <i id="icon" class="fas fa-sign-out-alt" ></i>
        </a>
        <a href="/templates/services.html"><i id="icon" class="fas fa-user-md">Consultar Citas</i></a>
      </nav>
    </header>
    <main>
        <h1>Clinica BIT</h1>
          <picture id="picture-principal">
            <img src="/assets/img/png/principal.png" alt="pincipal"  >
          </picture>
        <section>
          <h2>¡Bienvenido a nuestra plataforma de verificación de empleados!</h2>
          <p>En nuestra página, 
            encontrarás herramientas diseñadas especialmente para la administración y el control 
            de la información de los empleados contratados en tu empresa. Con nuestra tecnología 
            de vanguardia, podrás verificar y mantener actualizados los datos y documentos de tus 
            empleados de manera rápida y eficiente. ¡Ahorra tiempo y esfuerzo en la gestión de tus 
            recursos humanos con nuestra plataforma!</p>
        </section>
    </main>
    <footer>
      <p>Todos los derechos reservados © Clinica BIT 2023</p>
    </footer>
    
  </body>
</html>
