<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica BIT</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body id="body-doctor-search">
    <header>
      <nav>
        <a href="/">
          <i id="icon" class="fas fa-sign-out-alt" ></i>
        </a>
        <a href="/templates/main.html">
          <i id="icon" class="fas fa-home">Inicio</i>
        </a>
      </nav>
    </header>
    <main >
      <section id="description-doctor-search">
        <h1>Seguimiento de pacientes</h1>
        <p>
          En esta sección, podrás consultar toda la información relevante sobre tus pacientes.
          Podrás revisar sus datos personales, historial médico, y fechas de próximas citas. 
          ¡Así podrás estar siempre preparado y brindarles la mejor atención posible!
        </p>
      </section>
      <ul id="card-container">
        <form id="search-form">
          <input type="text" id="doctor-name" name="doctor-name" required>
          <button type="submit">Buscar</button>
        </form>
        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/png/paciente.png" alt="Imagen de la clínica">
          </picture>
          <h2 >Luis Suarez</h2>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
          </ul>

        </li>
        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/png/paciente2.png" alt="Imagen de la clínica">
          </picture>
          <h2 >Maria Ramirez</h2>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
          </ul>

        </li>
        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/png/paciente3.png" alt="Imagen de la clínica">
          </picture>
          <h2 >Juan Fernadez</h2>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
          </ul>
 
        </li>
        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/png/paciente4.png" alt="Imagen de la clínica">
          </picture>
          <h2 >Pablo Pinta</h2>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
          </ul>
     
        </li>
        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          <h2 >Pedro Ignacio</h2>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
          </ul>
       
        </li>
      </ul>
    </main>
  </body>
</html>
