<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica BIT</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body id="body-doctor-search">
    <header>
      <nav>
        <a href="/">
          <i id="icon" class="fas fa-home">Inicio</i>
        </a>
      </nav>
    </header>
    
    <main >
      <h2>Aqui podras consultar a los medicos que hay en la clinica</h2>
      
      <section id="card-container">
        <form id="search-form">
          
          <input type="text" id="doctor-name" name="doctor-name" required>
          <button type="submit">Buscar</button>
        </form>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
        <article id="card-doctor">
          <picture id="card-doctor-picture">
            <img id="card-doctor-image" src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          
          <h2 id="card-doctor-title">Luis Suarez</h2>
          
          <ul id="card-doctor-list">
            <li id="card-doctor-list-item">Consulta médica</li>
            <li id="card-doctor-list-item">Exámenes de laboratorio</li>
            <li id="card-doctor-list-item">Cirugías</li>
            <li id="card-doctor-list-item">Rehabilitación</li>
          </ul>
      
          <a id="card-doctor-button" href="#">Leer más</a>
        </article>
      </section>

      
    </main>
    <footer>

    </footer>
    
  </body>
</html>
