<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="icon" type="image/png" href="/assets/img/png/escudo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica BIT</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body id="body-doctor-search">
    <header>
      <nav id="icon">
        <a href="/"  class="fas fa-sign-out-alt"></a>
        <a href="/templates/main.html" class="fas fa-home">Inicio</a>
      </nav>
    </header>
    <main >
      <section id="description-doctor-search">
        <h2>Seguimiento de pacientes</h2>
        <p>
          En esta sección, podrás consultar toda la información relevante sobre tus pacientes.
          Podrás revisar sus datos personales, historial médico, y fechas de próximas citas. 
          ¡Así podrás estar siempre preparado y brindarles la mejor atención posible!
        </p>
      </section>

      <form id="search-form">
        <input type="text" id="doctor-name" name="doctor-name" required>
        <button type="submit">Buscar</button>
      </form>
      <ul id="card-container">

        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/png/paciente.png" alt="Imagen de la clínica">
          </picture>
          <h3 >Luis Suarez</h3>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
            
          </ul>
          <a href="/templates/details.html">Detalles</a>
        </li>
        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/png/paciente2.png" alt="Imagen de la clínica">
          </picture>
          <h3 >Maria Ramirez</h3>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
          </ul>
          <a href="/templates/details.html">Detalles</a>
        </li>
        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/png/paciente3.png" alt="Imagen de la clínica">
          </picture>
          <h3 >Juan Fernadez</h3>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
          </ul>
          <a href="/templates/details.html">Detalles</a> 
        </li>
        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/png/paciente4.png" alt="Imagen de la clínica">
          </picture>
          <h2 >Pablo Pinta</h2>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
          </ul>
          <a href="/templates/details.html">Detalles</a>     
        </li>
        <li class="card-doctor">
          <picture>
            <img  src="/assets/img/jpg/plaga.jpg" alt="Imagen de la clínica">
          </picture>
          <h3 >Pedro Ignacio</h3>
          <ul>
            <li >Consulta médica</li>
            <li >Exámenes de laboratorio</li>
            <li >Cirugías</li>
            <li >Rehabilitación</li>
          </ul>
          <a href="/templates/details.html">Detalles</a>       
        </li>
      </ul>
    </main>
  </body>
</html>
