<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica BIT</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header>
      <nav>
          <a href="/">Inicio</a>
          <a href="#">Servicios</a>
          <a href="#">Login</a>
      </nav>
    </header>
 
    <main>
      <h1>Clinica BIT</h1>
      <p>Bienvenidos a la mejor clínica de la región</p>
      
    </main>
    <footer>
      <p>Todos los derechos reservados © Clinica BIT 2023</p>
    </footer>
  </body>
</html>
